@import "tailwindcss";
@plugin "@tailwindcss/typography";

html,
body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  font-family: sans-serif;
}

.sticky-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #474747;
  color: white;
  padding: 10px 0;
  z-index: 1000;
}